<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>save user</title>
</head>
<body style="text-align: center">
<div th:switch="${t}">
    <h2 th:case="A">Add new User</h2>
    <h2 th:case="U">Update User</h2>
</div>
<form
        action="#"
        th:action="@{/users/save}"
        th:object="${user}"
        method="post">

    <input type="hidden" th:field="*{id}">
    <input type="text"  name="name" th:field="*{name}" placeholder="name">
    <br><br>
    <input type="text"  name="surname" th:field="*{surname}" placeholder="last name">
    <br><br>
    <input type="email"  name="email" th:field="*{email}" placeholder="email">
    <br><br>
    <input type="text"  name="country" th:field="*{country}" placeholder="country">
    <br><br>
    <input type="submit" value="Add User">
</form>

</body>
</html>